<h2>New Celebrities</h2>
<form action="/celebrities/create" method="POST">
    <input type="text" value="" name="name" placeholder="Celebrity Name">
    <input type="text" value="" name="occupation" placeholder="Celebrity Occupation">
    <input type="text" value="" name="catchPhrase" placeholder="Celebrity Catch Phrase">
    <button type="submit">Save</button>
</form>